@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,500");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/629f59f977c8c6120d8e7153.629f59fa699476d359966e23.HPWa8P0.hcp.png");

html {
  overflow-x: hidden
}

.jeff-phone-right-shift {
  margin-left: 20px
}
.jeff-phone-right-shift2 {
  margin-left: 10px
}

.jeff-top-items-logo {
  margin-left: 60px
}

.jeff-top-items {
  margin-left: 95px
}

.jeff-right-shift-smaller2 {
  margin-left: 140px
}

.jeff-right-shift-smaller {
  margin-left: 33px
}

.jeff-right-shift {
  margin-left: 135px
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
